{{> header }}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Actualiza la información</h3>
                <form class="form-horizontal form-material">
                    <div class="row">
                        <input id="id-prod" type="text" value="{{producto._id}}" style="display: none">
                        <div class="col-lg-6 col-xlg-6 col-md-6">
                            <div class="form-group">
                                <label class="col-md-12">Nombre producto</label>
                                <div class="col-md-12">
                                    <input id="nombre" value="{{producto.nombre}}" type="text" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Marca</label>
                                <div class="col-md-12">
                                    <input id="marca" value="{{producto.marca}}" type="text" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Precio</label>
                                <div class="col-md-12">
                                    <input id="precio" value="{{producto.precio}}" type="number" class="form-control form-control-line">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xlg-6 col-md-6">
                            <div class="form-group">
                                <label class="col-md-12">Cantidad</label>
                                <div class="col-md-12">
                                    <input id="cantidad" value="{{producto.cantidad}}" type="text" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Existencias</label>
                                <div class="col-md-12">
                                    <input id="existencias" value="{{producto.existencias}}" type="number" class="form-control form-control-line">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="button" class="btn btn-success" id="btn-guardar" value="Guardar">
                </form>
            </div>
        </div>
    </div>
</div>

{{> footer }}