{{> header }}

<!-- ============================================================== -->
<!-- Tablas -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Productos más vendidos</h4>
            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0">Producto</th>
                            <th class="border-top-0">Marca</th>
                            <th class="border-top-0">Contenido</th>
                            <th class="border-top-0">Existencias</th>
                            <th class="border-top-0">Ventas</th>
                            <th class="border-top-0">Ganancias</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each bestsellers}}
                            <tr>
                                <th>{{this.nombre}}</th>
                                <td>{{this.marca}}</td>
                                <td>{{this.cantidad}}</td>
                                <td>{{this.existencias}}</td>
                                <td><label class="label label-info">{{this.ventas}}</label></td>
                                <td>
                                    <h5 class="m-b-0">${{multiply this.ventas this.precio}}</h5>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Productos con más ganancias</h4>
            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0">Producto</th>
                            <th class="border-top-0">Marca</th>
                            <th class="border-top-0">Contenido</th>
                            <th class="border-top-0">Existencias</th>
                            <th class="border-top-0">Ventas</th>
                            <th class="border-top-0">Ganancias</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each bestearners}}
                            <tr>
                                <th>{{this.nombre}}</th>
                                <td>{{this.marca}}</td>
                                <td>{{this.cantidad}}</td>
                                <td>{{this.existencias}}</td>
                                <td>{{this.ventas}}</td>
                                <td>
                                    <h5 class="m-b-0">
                                        <label class="label label-success">${{multiply this.ventas this.precio}}</label>
                                    </h5>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Tablas -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Gráficas estadísticas totales</h4>
                    </div>
                </div>
                <div class="row">
                    <!-- Gráfica ventas totales -->
                    <div class="col-lg-6">
                        <div class="campaign ct-charts">
                            <canvas id="grafica-ventas"></canvas>
                        </div>
                    </div>
                    <!-- Gráfica ventas totales -->
                    <!-- Gráfica ganancias totales -->
                    <div class="col-lg-6">
                        <div class="campaign ct-charts">
                            <canvas id="grafica-ganancias"></canvas>
                        </div>
                    </div>
                    <!-- Gráfica ganancias totales -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->

{{> footer }}