{{> header }}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" style="display:inline-block">Lista de productos</h3>
                <p style="display:inline-block; margin-left:15px;"><a href="#product-form">Nuevo producto</a></p>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Existencias</th>
                            <th scope="col">Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each productos}}
                            <tr>
                                <th scope="row">{{this.nombre}}</th>
                                <td>{{this.marca}}</td>
                                <td>{{this.precio}}</td>
                                <td>{{this.cantidad}}</td>
                                <td>{{this.existencias}}</td>
                                <td>
                                    <a href="/comprar-producto/{{this._id}}" class="transparentar"><i class="mdi mdi-check"></i></a>
                                    <a href="/editar-producto/{{this._id}}" class="transparentar"><i class="mdi mdi-lead-pencil"></i></a>
                                    <a href="/borrar-producto/{{this._id}}" class="transparentar"><i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Agregar producto nuevo</h3>
                <hr>
                <form id="product-form" class="form-horizontal form-material">
                    <div class="form-group">
                        <label class="col-md-12">Nombre producto</label>
                        <div class="col-md-12">
                            <input id="nombre" type="text" class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Marca</label>
                        <div class="col-md-12">
                            <input id="marca" type="text" class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Precio</label>
                        <div class="col-md-12">
                            <input id="precio" type="number" class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Cantidad</label>
                        <div class="col-md-12">
                            <input id="cantidad" type="text" class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Existencias</label>
                        <div class="col-md-12">
                            <input id="existencias" type="number" class="form-control form-control-line">
                        </div>
                    </div>
                    <input type="button" id="agregar" class="btn btn-success" value="Agregar">
                </form>
            </div>
        </div>
    </div>
</div>

{{> footer }}